<app-header> </app-header>
<router-outlet></router-outlet>




























<!-- <!DOCTYPE html>
<html>
    <head>
        <title>HELLO MY FIRST APP</title>
        <link href="./app.component.css" rel="styelsheet" type="text/css">

    </head>
    <body>
        <p>
            
            {{msg}}
            <br>
            <br>
            {{title}}
        </p>
        <div>
            <p [ngStyle]="styles">this paragraph will change it's colour</p>
            <button (click)="onclick()">click here!!</button>
            &nbsp;
            <button (click)="yellow()">yellow</button>
            &nbsp;
            <button (click)="green()">green</button>
            &nbsp;
            <button (click)="pink()">pink</button>
        
        </div>
        <br>
        <div>
            enter name:<input type="text" [(ngModel)]="name" />
            <label>
                {{name}}
            </label>
        </div>
        <br>
            <br>
        <div>
            <p *ngIf="!students">No students record</p>
            <p *ngIf="students">Students record are as</p>
            {{students[1]}}
            <ol *ngIf="students">
                <li *ngFor="let s of students">
                    {{s}}
                </li>
            </ol>
        </div>


        <app-home></app-home>



    </body>
</html> -->